[Unit]
Description=Mixxx DJ Software
After=sound.target openbox.service
Requires=openbox.service

[Service]
Type=simple
User=pi
Environment=DISPLAY=:99
Environment=HOME=/home/pi
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/pw-jack /usr/bin/mixxx --fullScreen
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
